@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);
@font-face {
    font-family: "pinin";
    src: url(pininfarina.ttf);
}
.wrapper {
    text-align: center;

}
#container {
    background-color: #70747c;
}
.form-control {
    size: 200px;
    text-align: center;
}
.form {
    align-content: center;
}
h1 {
    text-align: center;
}
.intro {
    text-align: center;
}
.sign {
    text-align: end;
}
td {
    text-align: center;
}
body {
    background: #70747c;
    width: auto;
}
.container{
    height: 150px;
    width: 300px;
    margin: auto;
    text-align: center;
}
.loader{
    height: 20px;
    width: 130px;
    animation: loader-animation 3s linear infinite;
}
.special {
    height: 150px;
    width: 400px;
    font-family: "pinin", sans-serif;
    font-size: 38px;
    color: white;
    text-align: center;
  }

@keyframes loader-animation {
    25% {
        font-size: 72px;
    }    
    50% {
        font-size: 110px;
    }    
    75% {
        font-size: 72px;
    }    
}

.form-control {
    width: 30%;
    margin: auto;
}
.form-select {
    width: 30%;
    margin: auto;
    text-align: center;
}
.logo {
    margin-left: 90%;
}

.buttonClass, .btn {
    background-color: #768d87;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 3px;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: block;
  }
  
  .done:hover {
    color: rgb(66, 62, 62);
    background-color: rgb(53, 129, 53);
  }
  .edit:hover {
    color: rgb(66, 62, 62);
    background-color: rgb(192, 136, 31);
  }
  
  .completed {
    padding: 0px 0px;
  }
  .btn-login, .btn-reg, .btn-add {
    background-color: rgb(87, 87, 87);
    color: white;
    border-radius: 7px;
    border: 1px solid rgba(87, 87, 87, 0.5);
    padding: 5px 25px;
  }
  .btn-login:hover, .btn-reg:hover, .btn-add:hover{
    background-color: rgb(211, 208, 180);
    border: 1px solid #768d87;
    color: rgb(87, 87, 87);
  }
  .btn-add {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 200px;
  }
